@model IEnumerable<KucykoweRodeo.Models.Article>

@{
 ViewData["Title"] = $"Wyszukiwanie";
 ViewData["Description"] = $"Wyszukiwanie";
 Layout = "~/Pages/Shared/_Layout.cshtml";
}

<nav aria-label="breadcrumb">
 <ol class="breadcrumb">
  <li class="breadcrumb-item"><a href="/">Start</a></li>
  <li class="breadcrumb-item active" aria-current="page">Wyszukiwanie</li>
 </ol>
</nav>

<h1>Wyniki wyszukiwania</h1>

<partial name="_SearchBox" />


<div class="row">
 <div class="col">
  <partial name="_ArticleList" model="Model" />
 </div>
</div>
