@model IEnumerable<KucykoweRodeo.Models.Category>

@{
 ViewData["Title"] = "Kategorie";
 Layout = "_Layout";
}

<nav aria-label="breadcrumb">
 <ol class="breadcrumb">
  <li class="breadcrumb-item"><a href="/">Start</a></li>
  <li class="breadcrumb-item active" aria-current="page">Kategorie</li>
 </ol>
</nav>

<h1>Wykaz kategoryj</h1>

<div class="row">

 <div class="col">

  <ul class="list-unstyled">
   @foreach (var category in Model.OrderBy(category => category.Name))
   {
    <li>
     <a asp-action="Details" asp-route-id="@category.Id">@category.Name</a>
     <span class="text-muted">(@category.Articles.Count)</span>
    </li>
   }
  </ul>

 </div>

</div>
