@using Taboret.Models
@using Microsoft.Extensions.Localization
@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer
@inject IStringLocalizer<Shared> SharedLocalizer
@model Taboret.Models.Tag

@{
 ViewData["Title"] = $"{Model.Name}";
 ViewData["Description"] = $"{SharedLocalizer["Tag"].Value} - {Model.Name}";
 Layout = "_Layout";
}

<nav aria-label="breadcrumb">
 <ol class="breadcrumb">
  <li class="breadcrumb-item"><a href="/">@Localizer["Start"]</a></li>
  <li class="breadcrumb-item"><a asp-action="Index">@Localizer["Tags"]</a></li>
  <li class="breadcrumb-item active" aria-current="page">@Model.Name</li>
 </ol>
</nav>

<h1>@string.Format(Localizer["Articles tagged with “{0}”"].Value, Model.Name)</h1>


<div class="row">
 <div class="col">
  <partial name="_ArticleList" model="Model.Articles" />
 </div>
</div>
